* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    padding: 18px;
    border-radius: 16px;
}

img {
    width: 260px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-bottom: 15px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin-bottom: 15px;
}